In [9]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import os

In [10]:
# cwd = os.getcwd()
# file_path = os.path.join(cwd, "Pull_Data.csv")
# file_path

In [11]:
df = pd.read_csv('TotalData1.csv')

In [12]:
df.duplicated()
#df.assign(is_duplicate=df.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
6037    False
6038    False
6039     True
6040    False
6041     True
Length: 6042, dtype: bool

In [13]:
df.drop_duplicates(subset='rest name',keep='first', inplace=True)
df=df.sort_values("rest rank", ascending=False)
df.shape

(3724, 89)

In [14]:
df=df.fillna(0)

In [15]:
df

,rest name,rest add,rest open,rest type,rest rank,reviews num,Food rank,Service rank,atmosphere rank,price rank,...,Open on Saturday,Restaurants on the sea,sports bar,A restaurant with discounts for students,A restaurant in nature,burger club,fast food,Neighborhood bar/pub,Irish pub,Crazy Sunday
3597,"הסביח של סומך, חדרה","הרברט סמואל 76, חדרה",No Info,חומוס,5.0,1,5.0,5.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1933,"אושי אושי באר שבע, באר שבע","שד' יצחק רגר 2, באר שבע",No Info,מצאת טעות?,5.0,1,5.0,5.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4010,"פיצה דומינו, תל אביב","פרישמן 16, תל אביב",No Info,פיצריה,5.0,1,5.0,4.5,4.5,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
711,"נפגש אצל אילן, טבריה","הירדן 12, טבריה, סובב כינרת",No Info,אוכל רחוב,5.0,3,5.0,5.0,5.0,4.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
712,"אקסטרה פיצה, טבריה","אלחדיף 5, טבריה, סובב כינרת",No Info,פיצריה,5.0,2,5.0,5.0,4.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2786,"שיפודים גריל ישראלי, אשקלון","ככר צפניה 4, אשקלון",No Info,מסעדת בשרים,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2785,"פיצליאנו, מבשרת ציון","הראל 1, מבשרת ציון",No Info,פיצריה,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2783,"פיצריית מרילו, אחיעזר","האתרוג 51, אחיעזר",No Info,פיצריה,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2781,"M Burger יבנה - M BURGER, מרכז מסחרי לב","שד' דואני 20, מרכז מסחרי לב יבנה",No Info,פאב-בר,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6040,"אצל רחל בחצר, אלון מורה","הבשן 142, אלון מורה",No Info,מסעדת בשרים,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df.to_csv('TotalData.csv',encoding='utf-8-sig',index=False)